*{
    font-family: Georgia, 'Times New Roman', Times, serifs;
}
#header {
    background-color: rgb(71, 2, 2);
    color: rgb(216, 161, 94);
    text-align: center;
    width: 100%;
    height: 80px;
    border: 1px solid black;
    border-radius: 20px;
    padding-top: 10px;

}

#navbar {
    background-color: maroon;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 100px;
    padding-top: 10px;
    padding-bottom: 10px;
}

#main {
    float: left;
    width: 50%;
    height: auto;
    border: 1px solid black;
    margin-left: 150px;
    
}

#main>h2 {
    background-color:  rgb(80, 0, 0);
    color: white;
    border-bottom: 2px solid orange;
    text-align: center;
}

#login {
    float: left;
    width: 20%;
    height: auto;
    border: 1px solid black;
    display: inline;
    border-radius: 10px;
    border: 1px solid maroon;
}

#login>h2 {
    background-color: black;
    color: white;
    border-bottom: 2px solid orange;
  
}

#news {
    width: 100%;
    height: auto;
    border: 1px solid rgb(80, 0, 0);
   
}

#news>h3 {
    background-color: rgb(68, 0, 0);
    color: white;
    border-bottom: 2px solid orange;
    text-align: center;
}

/* Styling the footer */
#footer {
    width: 100%;
    background-color: black;
    color: gold;
    height: 50px;
    border-radius: 6px;
    clear: both;
}

/* Styling container */
#container {
    width: 90%;
    height: auto;
    margin: 4%;
    border: 1px solid lightgrey;
    border-radius: 5px;
}

/* Styling the links in header */
#navbar>ul{
    list-style-type: none;
    margin: 0px;
    padding: 0px;
  
}
#navbar>ul li a{
    float: left;
}
#navbar> ul li a{
    display: inline-block;
    color: antiquewhite;
    text-align: center;
    padding: 14px 20px;
    text-decoration: none;
    background-color: black;
    margin-right: 40px;
    margin-left: 180px;
}

#navbar>ul li{
    border-right: 1px solid red;
}

#navbar> ul li a:hover{
    border-bottom: 2px solid gold;
}

#navbar> ul li:last-child{
    border-right: none;
}


#navbar>a:link{
    color: white;
    text-decoration: none;
}
#navbar>a:visited{
    color: maroon;
}
#navbar>a:active{
    color: green;
}

#navbar>a:link, a:visited{
    background-color: bisque;
    border-radius: 10px;
    color: black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
    margin-left: 20px;
}

#navbar>a:hover, a:active{
    background-color: orange;
    color: black;

}

/* Styling the list */
#news>ul{
    list-style-type: square ;
    list-style-position: inside;
    background-color: maroon;
}
#news>ul li{
    background-color: black;
    color: bisque;                                                              
    padding: 3px;
    margin-left: 30px;
    margin-top: 5px;
}

/* Styling the table */
table,th,td{
    border: 1px solid grey;
   
}
 /* If you want one border only */                                                                          
 table{
    border-collapse: collapse;
 }
 th{
    background-color: brown;
    color: antiquewhite;
 }
 td,th{
    border-bottom: 2px solid grey;
 }
 /* Hovering on table */
 tr:hover{
    background-color: rgb(44, 13, 13);
    color: antiquewhite;
    border-right: 10px solid maroon;
 }
 /* Skipping colors */
 tr:nth-child(even){
background-color: beige;
 }

input[type=text],input[type=password],select{
    width: 30%;
    border: 1px solid rgb(153, 19, 19);
    border-radius: 5px;

}

input[type=text],input[type=password]{
    padding: 10px;
    margin: 5px 0px;
}

input[type=text]:focus,input[type=password]:focus{
    background-color: rgb(221, 177, 177);
    border: 2px solid black;
    color: black;
}

input[type=submit],input[type=reset]{
    background-color: brown;
    color: antiquewhite;
    padding: 10px 20px;
    border-radius: 10px 20px;
    margin: 2px 2px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=reset]:hover{
    background-color: rgb(211, 159, 167);
    border: 2px solid maroon;
}


#left_side_bar {
    width: 30%;
    height: auto;
    /* border: 1px solid black; */
}

#left_side_bar>ul{
    margin: 0;
    padding: 0;
    list-style-type: none;
    background-color: black;
    position: fixed/*makes navbar fixed on scroll*/;
    

}

/* Make the entire list clickable */
#left_side_bar>ul li a{
    display: block;
    width: 100px;
    padding: 6px 8px;
    color: wheat;
    text-decoration: none;
}

#left_side_bar>ul li a:hover{
background-color: maroon;
color: white;
border-right: 10px solid gold;
}

#left_side_bar>ul li{
    margin: 0px;
}

#left_side_bar>ul li{
    background-color: black;
    color: white;
    border-right: 1px solid gold;
    border-bottom: 1px solid maroon;
    text-align: center;
    
}

