*{
    font-family: Georgia, 'Times New Roman', Times, serifs;
}
#header {
    background-color: rgb(71, 2, 2);
    color: gold;
    text-align: center;
    width: 100%;
    height: 100px;
    border: 1px solid black;
    border-radius: 20px;

}

#navbar {
    background-color: maroon;
    color: white;
    text-align: center;
    width: 100%;
    height: 50px;
    border: 1px solid black;
    border-radius: 6px;
    margin-right: 100px;
}



#left_side_bar {
    float: left;
    width: 20%;
    height: auto;
    border: 1px solid black;
}

#main {
    float: left;
    width: 50%;
    height: auto;
    border: 1px solid black;
}

#main>h2 {
    background-color:  rgb(80, 0, 0);
    color: white;
    border-bottom: 2px solid orange;
}

#right_side_bar {
    float: left;
    width: 20%;
    height: auto;
    border: 1px solid black;
}

#right_side_bar>h2 {
    background-color: black;
    color: white;
    border-bottom: 2px solid orange;
}

#news {
    width: 100%;
    height: auto;
    border: 1px solid rgb(80, 0, 0);
    clear: both;
}

#news>h3 {
    background-color: rgb(68, 0, 0);
    color: white;
    border-bottom: 2px solid orange;
    text-align: center;
}
#footer {
    width: 100%;
    background-color: black;
    color: gold;
    height: 50px;
    border-radius: 6px;
}
#container {
    width: 90%;
    height: auto;
    margin: 4%;
    border: 1px solid lightgrey;
    border-radius: 10px;
}
a:link{
    color: white;
    text-decoration: none;
}
a:visited{
    color: yellow;
}
a:active{
    color: green;
}

a:link, a:visited{
    background-color: bisque;
    color: black;
    padding: 14px 20px;
    text-align: center;
    text-decoration: none;
    display:inline-block;
}

a:hover, a:active{
    background-color: orange;
    color: black;

}
/* Styling the list */
ul{
    list-style-type: square !important;
    list-style-position: inside;
    background-color: maroon;
}
ul li{
    background-color: black;
    color: bisque;
    padding: 3px;
    margin-left: 30px;
    margin-top: 5px;
}

/* Styling the table */
table,th,td{
    border: 1px solid grey;
   
}
 /* If you want one border only */
 table{
    border-collapse: collapse;
 }
 th{
    background-color: brown;
    color: antiquewhite;
 }
 td,th{
    border-bottom: 2px solid grey;
 }
 /* Hovering on table */
 tr:hover{
    background-color: rgb(44, 13, 13);
    color: antiquewhite;
    border-right: 10px solid maroon;
 }

/* Skipping colors */
 tr:nth-child(even){
background-color: beige;
 }

input[type=text],input[type=password],select{
    width: 30%;
    border: 1px solid rgb(153, 19, 19);
    border-radius: 5px;

}

input[type=text],input[type=password]{
    padding: 10px;
    margin: 5px 0px;
}

input[type=text]:focus,input[type=password]:focus{
    background-color: rgb(221, 177, 177);
    border: 2px solid black;
    color: black;
}

input[type=submit],input[type=reset]{
    background-color: brown;
    color: antiquewhite;
    padding: 10px 20px;
    border-radius: 10px 20px;
    margin: 2px 2px;
    cursor: pointer;
}

input[type=submit]:hover,input[type=reset]:hover{
    background-color: rgb(211, 159, 167);
    border: 2px solid maroon;
}
